@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  margin: 0;
  font-family: "Roboto Regular", sans-serif;
}

h2 {
  font-size: 1.6em;
}

header {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.24);
  padding-top: 15px;
  padding-bottom: 10px;
}

header .logo {
  width: 40%;
}

header .logo img {
  width: 100%;
}

header:not(.home) {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header:not(.home) .back {
  font-size: 1.5em;
  color: #1d1d1d;
  margin-left: 30px;
  margin-right: -50px;
  margin-top: -5px;
}

footer {
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

footer .logo {
  font-family: "Shrikhand", cursive;
  margin-bottom: 20px;
  font-size: 1.1em;
}

footer a {
  color: white;
  margin-bottom: 10px;
}

.location {
  color: #353535;
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.location p {
  font-weight: bold;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.location .fa-solid {
  margin-right: 20px;
}

.location .place {
  margin-right: 20px;
}

a {
  color: black;
  text-decoration: none;
}

.btn {
  border-radius: 25px;
  border: 0;
  padding: 15px 20px;
  margin-top: 20px;
  background-image: linear-gradient(-20deg, #ff79da, #9356dc, #ff79da);
  background-size: 150% 300%;
  background-position-y: top;
  color: white;
  font-weight: 600;
  -webkit-box-shadow: 3px 5px 12px 0px rgba(0, 0, 0, 0.24);
          box-shadow: 3px 5px 12px 0px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  min-width: 150px;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  background-position: right bottom;
  -webkit-box-shadow: 6px 5px 12px 3px rgba(0, 0, 0, 0.35);
          box-shadow: 6px 5px 12px 3px rgba(0, 0, 0, 0.35);
}

.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px 35px;
  padding-bottom: 50px;
  background-color: #f6f6f6;
}

.explore p {
  color: #505050;
  font-size: 17px;
}

.working {
  margin: 50px 20px;
  margin-bottom: 60px;
}

.working .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.working .number {
  color: white;
  background-color: #9356dc;
  border-radius: 15px;
  padding: 4px 8px;
  padding-bottom: 3px;
  margin-right: -15px;
  z-index: 2;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.working .card {
  border-radius: 18px;
  padding: 25px;
  background-color: #f6f6f6;
  -webkit-box-shadow: 3px 5px 12px -5px rgba(0, 0, 0, 0.24);
          box-shadow: 3px 5px 12px -5px rgba(0, 0, 0, 0.24);
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #1d1d1d;
  font-weight: bold;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.working .card .fa-solid {
  margin-right: 15px;
  margin-left: 10px;
  color: #505050;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.working .card:hover {
  background-color: rgba(147, 86, 220, 0.15);
  -webkit-box-shadow: 8px 7px 12px -4px rgba(0, 0, 0, 0.24);
          box-shadow: 8px 7px 12px -4px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.working .card:hover .fa-solid {
  color: #9356dc;
}

@media (min-width: 992px) {
  .working {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  .working h2 {
    width: 100%;
  }
  .working .list {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.heart {
  width: 2em;
  height: 2em;
  margin-right: 10px;
}

.heart:hover {
  cursor: pointer;
}

#restaurant-list {
  background-color: #f6f6f6;
  padding: 20px;
  padding-bottom: 40px;
}

#restaurant-list .container {
  border-radius: 20px;
  background-color: white;
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 5px 12px -5px rgba(0, 0, 0, 0.24);
          box-shadow: 3px 5px 12px -5px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#restaurant-list .container:hover {
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
  -webkit-box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.24);
          box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.24);
}

#restaurant-list .container img:not(.heart) {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#restaurant-list .container .description {
  margin: 15px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#restaurant-list .container .description .text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#restaurant-list .container .description .text h3 {
  margin: 0;
}

#restaurant-list .container .description .text p {
  margin-top: 5px;
}

#restaurant-list .container .new {
  position: relative;
  top: -240px;
  margin-top: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 10px;
}

#restaurant-list .container .new p {
  background-color: #99e2d0;
  color: #119071;
  border-radius: 2px;
  padding: 7px 15px;
  margin: 0;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (min-width: 992px) {
  #restaurant-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    max-width: 1300px;
    position: relative;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
  }
  #restaurant-list h2 {
    width: 100%;
  }
  #restaurant-list .card {
    width: calc(50% - 10px);
  }
}

.background {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: -1;
}

.menu-title {
  background-color: #f6f6f6;
  padding: 20px;
  padding-bottom: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-title h1 {
  font-family: "Shrikhand", cursive;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.menu {
  background-color: #f6f6f6;
  padding: 20px;
  padding-top: 1px;
}

.menu .sub-menu {
  margin-bottom: 50px;
}

.menu .sub-menu h2 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.menu .sub-menu .title-underline {
  height: 3px;
  background-color: #99e2d0;
  width: 3em;
}

.menu .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: white;
  margin-top: 20px;
  border-radius: 20px;
  padding: 10px;
  -webkit-box-shadow: 3px 5px 12px -5px rgba(0, 0, 0, 0.24);
          box-shadow: 3px 5px 12px -5px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
}

.menu .card .description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: calc(100% - 130px);
  margin-right: 15px;
}

.menu .card .description h3 {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu .card .description p {
  margin-top: 5px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu .card .price {
  font-weight: bold;
}

.menu .card .selector {
  background-color: #99e2d0;
  color: white;
  padding: 22px 18px;
  margin: -10px;
  margin-left: 20px;
  margin-right: -70px;
  font-size: 1.5em;
  -webkit-transition: margin-right 0.5s;
  transition: margin-right 0.5s;
}

.menu .card:hover {
  cursor: pointer;
  -webkit-box-shadow: 5px 8px 12px -4px rgba(0, 0, 0, 0.24);
          box-shadow: 5px 8px 12px -4px rgba(0, 0, 0, 0.24);
}

.menu .card:hover .selector {
  margin-right: -10px;
}

.menu .card:hover .selector .fa-solid.fa-circle-check {
  -webkit-animation: check-rotation 0.5s;
          animation: check-rotation 0.5s;
}

.menu .checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .checkout .btn {
  margin: 40px 0;
  margin-top: 10px;
}

@-webkit-keyframes check-rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@keyframes check-rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}
/*# sourceMappingURL=style.css.map */